html {
    background-color: black;
}

#root {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#content {
    display: flex;
    font-family: Arial, sans-serif;
    justify-content: space-evenly;
    gap: 2rem;
    padding-top: 2rem;
}

.card {
    align-items: center;
    background-color: gray;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 270px;
    padding: 0.5rem;
    padding-bottom: 1rem;
    transition: all 0.5s;
    width: 250px;
}

.card img {
    width: 90%;
}

.card h2 {
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.card:hover {
    height: 400px;
    width: 400px;
}

button {
    height: 50px;
    width: 100px;
}