html {
    background-color: black;
    color: white;
}

#root {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#top-bar {
    padding-top: 1rem;
    width: 50%;
}

#top-bar h1 {
    text-align: center;
}

#top-bar nav{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

#content {
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    font-family: Arial, sans-serif;
    gap: 2rem;
    padding-top: 0.5rem;
    width: 80%;
}

.card {
    align-items: center;
    background-color: gray;
    border-radius: 0.5rem;
    color: black;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 250px;
    padding: 0.5rem;
    padding-bottom: 1rem;
    transition: all 0.5s;
}

.card img {
    width: 90%;
}

.card h2 {
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

@media only screen and (min-width: 1000px) {
    .card:hover {
        transform: scale(1.1);
    }
}

button {
    height: 50px;
    width: 100px;
}